body {
  font: 16px/1.6 monospace, serif;
  margin: 0;
  max-width: 600px;
  padding: 40px 60px;
}

main h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

section {
  margin: 30px 0;
  position: relative;
}

section h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

img:not([src]) {
  display: none;
}

img[src] {
  display: block;
  position: relative;
}

img[src]:before {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #ddd;
  border: 2px dotted #ccc;
  border-radius: 5px;
}

img[src]:after {
  content: 'No ' attr(alt);
  display: block;
  color: #333;

  position: absolute;
  top: calc(50% - 0.8rem);
  left: 0;
  width: 100%;
  text-align: center;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  font-size: 0.86rem;
  font-style: normal;
  padding: 0.07rem 0.14rem;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

#style-succeeded {
  display: none;
}

.failed {
  color: #DC143C;
}

.succeeded {
  color: #3CB371;
}

footer {
  color: #999;
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  margin-top: 60px;
}
